scripts/n8n-pollers/draft-poller-v2.json
[
  {
    "id": "DrfQeP7nK2LmV4aXu",
    "name": "SEO Content Draft Poller V2",
    "nodes": [
      {
        "id": "schedule_draft_v2",
        "name": "Draft Queue Poller V2",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [260, 300],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 1
              }
            ]
          }
        }
      },
      {
        "id": "claim_draft_job_v2",
        "name": "Claim Draft Job V2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [560, 300],
        "parameters": {
          "url": "https://wp-post.srv1455358.hstgr.cloud/api/n8n/claim/draft",
          "method": "POST",
          "options": {
            "timeout": 60000
          }
        }
      },
      {
        "id": "prepare_draft_payload_v2",
        "name": "Prepare Draft Payload V2",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [860, 300],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nif (!input.job || !input.event) {\n  return [];\n}\nreturn [{ json: input }];"
        }
      },
      {
        "id": "trigger_draft_bridge_v2",
        "name": "Trigger Draft Bridge V2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [1160, 300],
        "parameters": {
          "url": "https://n8n-ncdn.srv1455358.hstgr.cloud/webhook/seo-content/draft",
          "method": "POST",
          "contentType": "json",
          "specifyBody": "json",
          "sendBody": true,
          "jsonBody": "={{ $json }}",
          "options": {
            "timeout": 120000
          }
        }
      }
    ],
    "connections": {
      "Draft Queue Poller V2": {
        "main": [
          [
            {
              "node": "Claim Draft Job V2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claim Draft Job V2": {
        "main": [
          [
            {
              "node": "Prepare Draft Payload V2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Draft Payload V2": {
        "main": [
          [
            {
              "node": "Trigger Draft Bridge V2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "availableInMCP": false,
      "saveExecutionProgress": true,
      "executionOrder": "v1",
      "saveManualExecutions": true,
      "saveDataSuccessExecution": "all",
      "callerPolicy": "workflowsFromSameOwner",
      "saveDataErrorExecution": "all"
    }
  }
]
