scripts/n8n-direct-pollers/brief-poller-v3.json
[
  {
    "id": "BfP3Q1nK2LmV4aXb",
    "name": "SEO Content Brief Poller V3",
    "nodes": [
      {
        "id": "schedule_brief_v3",
        "name": "Brief Queue Poller V3",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [260, 300],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 1
              }
            ]
          }
        }
      },
      {
        "id": "claim_brief_job_v3",
        "name": "Claim Brief Job V3",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [520, 300],
        "parameters": {
          "url": "https://wp-post.srv1455358.hstgr.cloud/api/n8n/claim/brief",
          "method": "POST",
          "options": {
            "timeout": 60000
          }
        }
      },
      {
        "id": "build_brief_v3",
        "name": "Build Brief V3",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [820, 300],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst body = input.body ?? input;\nconst job = body.job ?? {};\nconst eventId = body.event?.id ?? body.eventId;\nconst jobId = job.id ?? body.jobId;\nconst callbackUrl = body.callbackUrl;\nconst callbackSecret = body.callbackSecret;\nconst selectedIdea = (job.ideas ?? []).find((idea) => idea.id === (job.selectedIdeaId ?? body.selectedIdeaId)) ?? (job.ideas ?? [])[0] ?? null;\nif (!jobId || !eventId || !callbackUrl) {\n  return [];\n}\nconst seedKeyword = job.seedKeyword ?? body.seedKeyword ?? 'Untitled topic';\nconst title = selectedIdea?.title ?? seedKeyword;\nconst angle = selectedIdea?.angle ?? 'Build a practical SEO brief';\nconst research = job.research ?? { objective: '', audience: '', gaps: [], sources: [] };\nreturn [{ json: {\n  eventId,\n  jobId,\n  callbackUrl,\n  callbackSecret,\n  brief: {\n    title: `${title} | Practical SEO brief`,\n    slug: String(title).toLowerCase().replace(/[^a-z0-9\\s-]/g, '').trim().replace(/\\s+/g, '-'),\n    metaTitle: `${title} | Complete guide`,\n    metaDescription: `Structured SEO brief for ${title} with Thai and global context.`,\n    audience: research.audience || `Readers searching for ${seedKeyword}`,\n    angle,\n    outline: [\n      `${title}: direct answer and context`,\n      'What the reader needs to understand first',\n      'Thai-market signals and examples',\n      'Global references that strengthen trust',\n      'Practical recommendations and cautions',\n      'FAQs'\n    ],\n    faqs: [\n      `${seedKeyword} should beginners know what first?`,\n      `What mistakes should readers avoid about ${seedKeyword}?`,\n      `When should the reader take action immediately?`\n    ],\n    internalLinks: [\n      `${seedKeyword} basics`,\n      `${seedKeyword} problems and fixes`,\n      `${seedKeyword} buying guide`\n    ]\n  }\n}}];"
        }
      },
      {
        "id": "send_callback_v3",
        "name": "Send Callback V3",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [1120, 300],
        "parameters": {
          "method": "POST",
          "url": "={{ $json.callbackUrl }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-callback-secret",
                "value": "={{ $json.callbackSecret }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ ({ eventId: $json.eventId, jobId: $json.jobId, type: \"brief\", status: \"succeeded\", workflowRunId: $execution.id, message: \"Brief workflow completed in n8n poller.\", stage: \"brief_ready\", payload: { provider: \"n8n-poller\", executionId: $execution.id }, brief: $json.brief }) }}",
          "options": {}
        }
      }
    ],
    "connections": {
      "Brief Queue Poller V3": {
        "main": [[{ "node": "Claim Brief Job V3", "type": "main", "index": 0 }]]
      },
      "Claim Brief Job V3": {
        "main": [[{ "node": "Build Brief V3", "type": "main", "index": 0 }]]
      },
      "Build Brief V3": {
        "main": [[{ "node": "Send Callback V3", "type": "main", "index": 0 }]]
      }
    },
    "settings": {
      "availableInMCP": false,
      "saveExecutionProgress": true,
      "executionOrder": "v1",
      "saveManualExecutions": true,
      "saveDataSuccessExecution": "all",
      "callerPolicy": "workflowsFromSameOwner",
      "saveDataErrorExecution": "all"
    }
  }
]
