scripts/n8n-direct-pollers/brief-poller-v3.json
[
  {
    "id": "BfP3Q1nK2LmV4aXb",
    "name": "SEO Content Brief Poller V3",
    "nodes": [
      {
        "id": "schedule_brief_v3",
        "name": "Brief Queue Poller V3",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [260, 300],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 1
              }
            ]
          }
        }
      },
      {
        "id": "claim_brief_job_v3",
        "name": "Claim Brief Job V3",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [520, 300],
        "parameters": {
          "url": "https://wp-post.srv1455358.hstgr.cloud/api/n8n/claim/brief",
          "method": "POST",
          "options": {
            "timeout": 60000
          }
        }
      },
      {
        "id": "prepare_brief_v3",
        "name": "Prepare Brief V3",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [780, 300],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst body = input.body ?? input;\nif (!body.job || !body.job.selectedIdeaId || !body.event?.id || !body.callbackUrl) {\n  return [];\n}\nreturn [{ json: body }];"
        }
      },
      {
        "id": "run_brief_v3",
        "name": "Run Brief V3",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [1040, 300],
        "parameters": {
          "url": "https://wp-post.srv1455358.hstgr.cloud/api/n8n/run/brief",
          "method": "POST",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json }}",
          "options": {
            "timeout": 120000
          }
        }
      },
      {
        "id": "callback_brief_v3",
        "name": "Callback Brief V3",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [1300, 300],
        "parameters": {
          "url": "={{ $json.callbackUrl }}",
          "method": "POST",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-callback-secret",
                "value": "={{ $json.callbackSecret || '' }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.callbackPayload }}",
          "options": {
            "timeout": 60000
          }
        }
      }
    ],
    "connections": {
      "Brief Queue Poller V3": {
        "main": [[{ "node": "Claim Brief Job V3", "type": "main", "index": 0 }]]
      },
      "Claim Brief Job V3": {
        "main": [[{ "node": "Prepare Brief V3", "type": "main", "index": 0 }]]
      },
      "Prepare Brief V3": {
        "main": [[{ "node": "Run Brief V3", "type": "main", "index": 0 }]]
      },
      "Run Brief V3": {
        "main": [[{ "node": "Callback Brief V3", "type": "main", "index": 0 }]]
      }
    },
    "settings": {
      "availableInMCP": false,
      "saveExecutionProgress": true,
      "executionOrder": "v1",
      "saveManualExecutions": true,
      "saveDataSuccessExecution": "all",
      "callerPolicy": "workflowsFromSameOwner",
      "saveDataErrorExecution": "all"
    }
  }
]
