scripts/n8n-direct-pollers/draft-poller-v3.json
[
  {
    "id": "DfP3Q1nK2LmV4aXc",
    "name": "SEO Content Draft Poller V3",
    "nodes": [
      {
        "id": "schedule_draft_v3",
        "name": "Draft Queue Poller V3",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [260, 300],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 1
              }
            ]
          }
        }
      },
      {
        "id": "claim_draft_job_v3",
        "name": "Claim Draft Job V3",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [520, 300],
        "parameters": {
          "url": "https://wp-post.srv1455358.hstgr.cloud/api/n8n/claim/draft",
          "method": "POST",
          "options": {
            "timeout": 60000
          }
        }
      },
      {
        "id": "prepare_draft_v3",
        "name": "Prepare Draft V3",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [780, 300],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst body = input.body ?? input;\nif (!body.job || !body.job.selectedIdeaId || !body.event?.id || !body.callbackUrl) {\n  return [];\n}\nreturn [{ json: body }];"
        }
      },
      {
        "id": "run_draft_v3",
        "name": "Run Draft V3",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [1040, 300],
        "parameters": {
          "url": "https://wp-post.srv1455358.hstgr.cloud/api/n8n/run/draft",
          "method": "POST",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json }}",
          "options": {
            "timeout": 120000
          }
        }
      },
      {
        "id": "callback_draft_v3",
        "name": "Callback Draft V3",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [1300, 300],
        "parameters": {
          "url": "={{ $json.callbackUrl }}",
          "method": "POST",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-callback-secret",
                "value": "={{ $json.callbackSecret || '' }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.callbackPayload }}",
          "options": {
            "timeout": 60000
          }
        }
      }
    ],
    "connections": {
      "Draft Queue Poller V3": {
        "main": [[{ "node": "Claim Draft Job V3", "type": "main", "index": 0 }]]
      },
      "Claim Draft Job V3": {
        "main": [[{ "node": "Prepare Draft V3", "type": "main", "index": 0 }]]
      },
      "Prepare Draft V3": {
        "main": [[{ "node": "Run Draft V3", "type": "main", "index": 0 }]]
      },
      "Run Draft V3": {
        "main": [[{ "node": "Callback Draft V3", "type": "main", "index": 0 }]]
      }
    },
    "settings": {
      "availableInMCP": false,
      "saveExecutionProgress": true,
      "executionOrder": "v1",
      "saveManualExecutions": true,
      "saveDataSuccessExecution": "all",
      "callerPolicy": "workflowsFromSameOwner",
      "saveDataErrorExecution": "all"
    }
  }
]
