scripts/n8n-direct-pollers/draft-poller-v3.json
[
  {
    "id": "DfP3Q1nK2LmV4aXc",
    "name": "SEO Content Draft Poller V3",
    "nodes": [
      {
        "id": "schedule_draft_v3",
        "name": "Draft Queue Poller V3",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [260, 300],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 1
              }
            ]
          }
        }
      },
      {
        "id": "claim_draft_job_v3",
        "name": "Claim Draft Job V3",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [520, 300],
        "parameters": {
          "url": "https://wp-post.srv1455358.hstgr.cloud/api/n8n/claim/draft",
          "method": "POST",
          "options": {
            "timeout": 60000
          }
        }
      },
      {
        "id": "build_draft_v3",
        "name": "Build Draft V3",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [820, 300],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst body = input.body ?? input;\nconst job = body.job ?? {};\nconst eventId = body.event?.id ?? body.eventId;\nconst jobId = job.id ?? body.jobId;\nconst callbackUrl = body.callbackUrl;\nconst callbackSecret = body.callbackSecret;\nif (!jobId || !eventId || !callbackUrl) {\n  return [];\n}\n\nconst seedKeyword = job.seedKeyword ?? body.seedKeyword ?? 'Untitled topic';\nconst brief = job.brief ?? { title: seedKeyword, outline: [], angle: '', audience: '' };\nconst research = job.research ?? { objective: '', audience: '', gaps: [], sources: [] };\nconst sources = Array.isArray(research.sources) ? research.sources : [];\nconst outline = Array.isArray(brief.outline) && brief.outline.length\n  ? brief.outline\n  : ['คำตอบสั้นและภาพรวม', 'สิ่งที่ต้องเข้าใจก่อนลงมือ', 'ข้อมูลจากไทย', 'ข้อมูลจากต่างประเทศ', 'วิธีนำไปใช้จริง', 'คำถามที่คนค้นต่อ'];\nconst thaiSource = sources.find((source) => source.region === 'TH') ?? sources[0] ?? null;\nconst globalSource = sources.find((source) => source.region === 'Global') ?? sources[1] ?? sources[0] ?? null;\n\nfunction bodyForSection(heading, index) {\n  const gap = Array.isArray(research.gaps) && research.gaps.length ? research.gaps[index % research.gaps.length] : '';\n\n  if (index === 0) {\n    return [\n      `${heading} ควรถูกเปิดด้วยคำตอบที่ตรงประเด็นก่อนว่าเรื่องนี้หมายถึงอะไร สำคัญต่อผู้อ่านอย่างไร และเหตุใดหลายคนจึงค้นคำว่า ${seedKeyword} ต่อเนื่องในหลายบริบท.`,\n      `สิ่งที่ต้องเน้นคือ ${brief.angle || 'คำตอบเชิงใช้งานจริง'} โดยไม่สรุปแบบกว้างเกินไป แต่พาผู้อ่านเห็นทั้งภาพรวม เหตุผล และจุดที่ควรเช็กต่อทันที.`,\n      thaiSource || globalSource\n        ? `จากข้อมูลที่รวบรวมมา ${thaiSource ? `${thaiSource.title} ระบุว่า ${thaiSource.insight}` : ''} ${globalSource ? `${globalSource.title} ระบุว่า ${globalSource.insight}` : ''}`\n        : `บทความช่วงเปิดควรยืนยันว่าคำตอบไม่ได้มาจากการคาดเดา แต่เกิดจากการสรุปใหม่จากหลายแหล่งข้อมูลจริง.`\n    ].join('\\n\\n');\n  }\n\n  if (index === 1) {\n    return [\n      `ก่อนลงมือ ผู้อ่านควรเข้าใจก่อนว่า ${research.objective || `หัวข้อนี้เกี่ยวข้องกับ ${seedKeyword} โดยตรง`} ดังนั้น section นี้ต้องทำหน้าที่ปูพื้นฐานให้ชัด ไม่รีบกระโดดไปข้อสรุปสุดท้ายทันที.`,\n      gap\n        ? `จุดที่หลายบทความพลาดคือ ${gap} ถ้าไม่อธิบายส่วนนี้ให้ชัด บทความจะดูเหมือนแค่รวบคำตอบ แต่ไม่ช่วยให้คนอ่านตัดสินใจได้จริง.`\n        : `สิ่งสำคัญคือทำให้คนอ่านเห็นว่าคำตอบของหัวข้อนี้ขึ้นกับบริบทและเงื่อนไข ไม่ใช่กฎตายตัวเพียงข้อเดียว.`,\n      `รูปแบบการอธิบายที่เหมาะคือใช้ภาษาไทยที่ลื่น อ่านง่าย แต่ยังคงชื่อแหล่งหรือคำเทคนิคอังกฤษในจุดที่ช่วยเพิ่มความแม่นและความน่าเชื่อถือ.`\n    ].join('\\n\\n');\n  }\n\n  if (index === 2) {\n    return [\n      `ถ้ามองจากฝั่งไทย จะเห็นรูปแบบคำถามและความเข้าใจของผู้ใช้ที่ชัดกว่าการอ่านนิยามเพียงอย่างเดียว.`,\n      thaiSource\n        ? `${thaiSource.title} จาก ${thaiSource.source} สะท้อนว่า ${thaiSource.insight}`\n        : `ข้อมูลไทยควรถูกใช้เพื่อให้บทความตอบด้วยภาษาที่ผู้อ่านจริงคุ้นเคย ไม่ดูเป็นบทความแปลตรงตัว.`,\n      `ดังนั้น section นี้ควรสรุปให้เห็นทั้ง wording ที่คนค้นจริงใช้ และสิ่งที่ผู้อ่านไทยควรระวังหรือควรทำต่อหลังอ่านจบ.`\n    ].join('\\n\\n');\n  }\n\n  if (index === 3) {\n    return [\n      `เมื่อดูข้อมูลต่างประเทศ สิ่งที่ได้เพิ่มคือกรอบคิดที่เป็นระบบกว่าและคำอธิบายเชิงมาตรฐานที่ช่วยยืนยันเหตุผลของบทความ.`,\n      globalSource\n        ? `${globalSource.title} จาก ${globalSource.source} ชี้ว่า ${globalSource.insight}`\n        : `แหล่งสากลมีประโยชน์ในฐานะ reference ที่ช่วยยกระดับความน่าเชื่อถือและความครบถ้วนของบทความ.`,\n      `อย่างไรก็ตาม ข้อมูลสากลไม่ควรถูกยกมาทั้งหมดแบบตรงตัว แต่ต้องเลือกเฉพาะส่วนที่สอดคล้องกับบริบทผู้อ่านไทยแล้วเรียบเรียงใหม่ให้ลื่นและเป็นธรรมชาติ.`\n    ].join('\\n\\n');\n  }\n\n  if (index === 4) {\n    return [\n      `หลังจากอธิบายภาพรวมและแหล่งอ้างอิงแล้ว บทความควรพาผู้อ่านไปสู่การใช้งานจริง เช่น ขั้นตอนเช็กเบื้องต้น วิธีลดความเสี่ยง หรือการตัดสินใจต่อยอดที่เหมาะกับบริบทของตนเอง.`,\n      `หัวใจของส่วนนี้คือทำให้คนอ่านรู้ว่า หลังอ่านจบแล้วควรทำอะไรต่อ ไม่ว่าจะเป็นการตรวจสอบข้อมูลเพิ่มเติม การเปลี่ยนวิธีใช้งาน หรือการปรับขั้นตอนที่เกี่ยวข้องกับ ${seedKeyword}.`,\n      `การสรุปเป็นลำดับขั้นพร้อมเหตุผลจะช่วยให้บทความดูมีน้ำหนักมากกว่าการให้ checklist สั้น ๆ และยังเพิ่มโอกาสให้เกิด conversion ต่อจากบทความได้ดีขึ้น.`\n    ].join('\\n\\n');\n  }\n\n  return [\n    `ช่วงท้ายของบทความควรเก็บคำถามที่คนมักค้นต่อ เพื่อช่วยปิดข้อสงสัยและครอบ long-tail keyword เพิ่มเติม.`,\n    `คำถามเหล่านี้ควรต่อยอดจาก ${seedKeyword} และ ${brief.title} โดยหลีกเลี่ยง FAQ ที่กว้างเกินไปหรือไม่สัมพันธ์กับสิ่งที่ผู้อ่านกำลังตัดสินใจอยู่จริง.`,\n    `เมื่อวาง FAQ ให้ตรง intent บทความจะดูครบทั้งในมุมผู้อ่านและมุม SEO และยังช่วยเชื่อม internal links ไปยังบทความรองหรือหน้าบริการที่เกี่ยวข้องได้เป็นธรรมชาติ.`\n  ].join('\\n\\n');\n}\n\nconst draft = {\n  intro: [\n    `${brief.title} เป็นคำถามที่ผู้อ่านจำนวนมากค้นหาเพราะต้องการคำตอบที่ชัด ใช้งานได้ และมีข้อมูลรองรับมากกว่าคำแนะนำสั้น ๆ ที่กระจายอยู่หลายแหล่ง.`,\n    `บทความนี้จึงถอดจากรีเสิร์ชจริงทั้งฝั่งไทยและต่างประเทศ เพื่อช่วยให้ผู้อ่านเข้าใจภาพรวม เห็นจุดที่ต้องระวัง และรู้ว่าควรทำอะไรต่ออย่างเป็นลำดับ.`,\n    `เป้าหมายไม่ใช่แค่ตอบว่าถูกหรือผิด แต่ทำให้เรื่อง ${seedKeyword} ถูกอธิบายแบบอ่านแล้วนำไปใช้ต่อได้จริง.`\n  ].join('\\n\\n'),\n  sections: outline.map((heading, index) => ({\n    heading,\n    body: bodyForSection(heading, index)\n  })),\n  conclusion: [\n    `ถ้าสรุปให้สั้นที่สุด เรื่อง ${seedKeyword} ไม่ควรถูกอธิบายเพียงมุมเดียว แต่ต้องมองทั้งภาพรวม เหตุผล และผลต่อการใช้งานจริงของผู้อ่าน.`,\n    `เมื่อบทความเรียงจากคำตอบสั้น ภาพรวม ข้อมูลไทย ข้อมูลต่างประเทศ ไปจนถึงขั้นตอนและ FAQ ผู้อ่านจะรู้สึกว่าข้อมูลครบและเชื่อถือได้มากกว่าบทความที่อาศัยสูตรเดิมซ้ำ ๆ.`,\n    `ก่อนเผยแพร่ ควรตรวจความสอดคล้องของคำศัพท์ โทนภาษา และ internal links อีกครั้ง เพื่อให้บทความพร้อมทั้งในมุม SEO และมุมการใช้งานจริง.`\n  ].join('\\n\\n')\n};\n\nconst callbackResponse = await fetch(callbackUrl, {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n    ...(callbackSecret ? { 'x-callback-secret': callbackSecret } : {})\n  },\n  body: JSON.stringify({\n    eventId,\n    jobId,\n    type: 'draft',\n    status: 'succeeded',\n    workflowRunId: $execution.id,\n    message: 'Draft workflow completed in n8n poller.',\n    stage: 'drafting',\n    payload: { provider: 'n8n-poller', executionId: $execution.id },\n    draft\n  })\n});\n\nif (!callbackResponse.ok) {\n  throw new Error(`Draft callback failed with status ${callbackResponse.status}`);\n}\n\nreturn [];"
        }
      }
    ],
    "connections": {
      "Draft Queue Poller V3": {
        "main": [[{ "node": "Claim Draft Job V3", "type": "main", "index": 0 }]]
      },
      "Claim Draft Job V3": {
        "main": [[{ "node": "Build Draft V3", "type": "main", "index": 0 }]]
      }
    },
    "settings": {
      "availableInMCP": false,
      "saveExecutionProgress": true,
      "executionOrder": "v1",
      "saveManualExecutions": true,
      "saveDataSuccessExecution": "all",
      "callerPolicy": "workflowsFromSameOwner",
      "saveDataErrorExecution": "all"
    }
  }
]
