scripts/n8n-bridges/research-bridge-v2.json
[
  {
    "id": "RgBv2Q1nK2LmV4aX",
    "name": "SEO Content Research Bridge V2",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "seo-content/research",
          "options": {}
        },
        "id": "webhook_research_v2",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [260, 300]
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst body = input.body ?? input;\nconst job = body.job ?? {};\nconst selectedIdea = (job.ideas ?? []).find((idea) => idea.id === body.selectedIdeaId) ?? (job.ideas ?? [])[0] ?? null;\nconst title = selectedIdea?.title ?? body.seedKeyword ?? 'Untitled topic';\nconst angle = selectedIdea?.angle ?? 'Research the topic from a practical SEO angle';\nconst relatedKeywords = selectedIdea?.relatedKeywords ?? [];\n\nreturn [{\n  json: {\n    eventId: body.eventId,\n    jobId: body.jobId,\n    type: body.type ?? 'research',\n    callbackUrl: body.callbackUrl,\n    callbackSecret: body.callbackSecret,\n    selectedIdeaId: body.selectedIdeaId,\n    client: body.client,\n    seedKeyword: body.seedKeyword,\n    title,\n    angle,\n    relatedKeywords,\n    research: {\n      objective: `Build a Thai and Global research pack for \"${title}\" for client ${body.client ?? 'Unknown client'}.`,\n      audience: `Readers searching for ${body.seedKeyword ?? title} who need practical guidance and trustworthy context.`,\n      gaps: [\n        'Many local articles summarize the topic but do not compare Thai and global guidance.',\n        'Competitors often skip search-intent mapping and real audience pain points.',\n        'Most articles miss FAQ coverage and internal-link opportunities for SEO clusters.'\n      ],\n      sources: [\n        { region: 'TH', title: `${title} in Thai search context`, source: 'Thai search and community synthesis', insight: `Use the angle \"${angle}\" and connect it to common Thai wording and decision factors.` },\n        { region: 'TH', title: `Keyword opportunities for ${body.seedKeyword ?? title}`, source: 'Keyword opportunity map', insight: `Related keywords: ${relatedKeywords.join(', ') || 'none supplied'}` },\n        { region: 'Global', title: `${title} global best-practice baseline`, source: 'International reference synthesis', insight: 'Use global sources to strengthen factual framing, terminology, and reader trust.' },\n        { region: 'Global', title: `${title} content gap opportunities`, source: 'SERP gap hypothesis', insight: 'Prioritize concise answers first, then practical detail, FAQs, and internal-link hooks.' }\n      ]\n    }\n  }\n}];"
        },
        "id": "build_research_pack_v2",
        "name": "Build Research Pack",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [560, 300]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $json.callbackUrl }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-callback-secret",
                "value": "={{ $json.callbackSecret }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ ({ eventId: $json.eventId, jobId: $json.jobId, type: \"research\", status: \"succeeded\", workflowRunId: $execution.id, message: \"Research workflow completed in n8n.\", stage: \"researching\", payload: { provider: \"n8n\", executionId: $execution.id }, research: $json.research }) }}",
          "options": {}
        },
        "id": "send_callback_v2",
        "name": "Send Callback",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [860, 300]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Build Research Pack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Research Pack": {
        "main": [
          [
            {
              "node": "Send Callback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "saveExecutionProgress": true,
      "saveManualExecutions": true,
      "saveDataErrorExecution": "all",
      "saveDataSuccessExecution": "all",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    }
  }
]
